<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Administrator Functionality</title>
</head>
<style>
.button1 {
    background-color: white;
    color: black;
    border: 2px solid #4CAF50; 
}
.button2 {background-color: #f44336;}
.button3 {
  float: center;
  width: 20%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
}
</style><body>
	<center>
<h3>Atlanta Zoo</h3>
<button>View Visitors</button>
<button>View Staff</button><br><br>
	
<button>View Shows</button>
<button>View Animals</button><br><br>
	
<button>Add Show</button>
<button class="button2">Log out</button>
</center>

</body>
</html>
