<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Administrator Functionality</title>
</head>
<<body>

<center><a href="https://ibb.co/JQHh1cC"><img src="https://i.ibb.co/jRDpN8H/Zoo-Tycoon-Logo.png" alt="Zoo-Tycoon-Logo" border="0"></a><br><div class="container">

    <li><a href="{{ url_for('animalSearch') }}">View Visitors</a></li>
    <li><a href="{{ url_for('exhibitSearch') }}">View Staff</a></li>
    <li><a href="{{ url_for('exhibitSearch') }}">View Shows</a></li>
    <li><a href="{{ url_for('animalSearch') }}">View Animals</a></li>
    <li><a href="{{ url_for('exhibitSearch') }}">Add Animals</a></li>
    <li><a href="{{ url_for('exhibitSearch') }}">Add Show</a></li>
    <li><a href="{{ url_for('logout') }}">Logout</a></li>

</div></center>

</body>
</html>