<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Animal Detail</title>
</head>
<style>
	span.a {
    padding: 65px;
}
	span.b {
    padding: 15px;
}
	
</style>
<body>
<center>
<h3>Animal Detail</h3></center>
<h4>Atlanta Zoo</h4>
	
<label for="aName">Name: </label>
<input type="text" placeholder="Animal Name" name="aName">
<span class="b">
<label for="aName">Species: </label>
<input type="text" placeholder="Animal Species" name="aName"></span>
<span class="a">
<label for="aName">Age: </label>
<input type="text" placeholder="Age" name="aName"></span><br><br>
<label for="aName">Exhibit: </label>
<input type="text" placeholder="Exhibit Name" name="aName">
<span class="b">	<label for="aName">Type: </label>
<input type="text" placeholder="Exhibit Type" name="aName"><br></span>
</body>
</html>
