<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Animal Detail</title>
</head>
<style>
	span.a {
    padding: 55px;
}
	span.b {
    padding: 15px;

}
input[type=text] {
    height: 20px;
	width: 10%;
    line-height: 20px;
    font-size: 12px;
    padding: 0 8px;
}
	input[type=number] {
    height: 20px;
		width: 5%;
    line-height: 20px;
    font-size: 12px;
    padding: 0 8px;
}
.container {
    padding: 16px;
    background-color: #f7da00;
	border: 3px solid #f1f1f1;
	width: 80%;
	text-align: left;
}
</style>
<body>
<center><a href="https://ibb.co/JQHh1cC"><img src="https://i.ibb.co/jRDpN8H/Zoo-Tycoon-Logo.png" alt="Zoo-Tycoon-Logo" border="0"></a><br>
  <h3>Exhibit Detail</h3>
  <div class="container">
<label for="aName">Name: </label>
<input type="text" placeholder="Animal Name" name="aName">
<span class="b">
<label for="aName2">Size: </label>
<input type="number" placeholder="size" name="aName"></span>

<label for="aName3">Num Animals: </label>
<input type="number" placeholder="Age" name="aName">

<span class="b">	<label for="size">Water Feature</label>	  
		  </span>
		<select>
			<option value="0">Select Feature:</option>
			<option value="1">Yes</option>
			<option value="2">No</option>
	  	</select>
<br></br><br>
<center><button class="button1">Log Visit</button><br><br>
<table width="80%" border="1">
  <tbody>
    <tr>
      <td>Name: </td>
      <td> Species:</td>
      
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      
    </tr>
  </tbody>
</table></center>
</body>
</html>
