<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Exhibit Detail</title>
</head>

<center><a href="https://ibb.co/JQHh1cC"><img src="https://i.ibb.co/jRDpN8H/Zoo-Tycoon-Logo.png" alt="Zoo-Tycoon-Logo" border="0"></a><br>

    <h1>Exhibit Detail</h1> <br>

    <p>Name: {{name_exhibit}} <br>
    Size: {{size}} <br>
    Num Animals: {{num_animals}} <br>
    Water Feature:
        {% if water_feature == 1 %}
            {{"YES"}}
        {% else %}
            {{"NO"}}
        {% endif %}
    </p>

    <br>

    <form action = "/logExhibitVisit" method="post" >
        <input type="submit" name="action" value="Log Exhibit Visit">
    </form>


</center>



</html>