<form action = "/register/result" method="post">
        Email: <br>
        <input type="text" placeholder="Email" name="email">
        <br>
        Username: <br>
        <input type="text" placeholder="Username" name="username">
        <br>
        Password: <br>
        <input type="password" placeholder="Password" name="password">
        <br>
        Confirm Password: <br>
        <input type="password" placeholder="Password" name="confirmPassword">
        <br>
        <input type="submit" name="action" value="Register Staff">
        <input type="submit" name="action" value="Register Visitor">

        <br>
        Resolve the following errors before registration:
        <p> {{error}} </p>
</form>