<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Staff Functionality</title>
</head>
<style>
	
	.button2 {background-color: #f44336;}
	.container {
    padding: 16px;
    background-color: #f7da00;
	border: 3px solid #f1f1f1;
	width: 30%;
}
</style>
<body>
	<center><a href="https://ibb.co/JQHh1cC"><img src="https://i.ibb.co/jRDpN8H/Zoo-Tycoon-Logo.png" alt="Zoo-Tycoon-Logo" border="0"></a><br><div class="container">
  
<button>Search Animals</button>
<button>View Shows</button>
<button class="button2">Log out</button>
		</div></center></body>
</html>
