<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Visitor Functionality</title>
</head>
<style>
.button1 {
    background-color: white;
    color: black;
    border: 2px solid #4CAF50; /* Green */
}
.button2 {background-color: #f44336;}
.button3 {
  float: center;
  width: 20%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
}
</style>
	<center>
<h3>Atlanta Zoo</h3>
<button>Search Exhibits</button>
<button>View exhibit history</button><br><br>
	
<button>Search Shows</button>
<button>View show history</button><br><br>
	
<button>Search for Animals</button>
<button class="button2">Log out</button>
</center>
<body>
</body>
</html>
